<!DOCTYPE html>
<html>
	<head>
		<title>MockStarket</title>
		<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
        <link href="https://fonts.googleapis.com/css?family=Mukta+Vaani:300,400,500,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      rel="stylesheet">

        <link rel="stylesheet" href="../css/main.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- <script src="../scripts/particles.min.js"></script> -->
        <script src="../scripts/dashboard.js"></script>
        

    </head>

	<body>
		<div class="app--container">
			<section id="side-menu--container">
				<div class="logo-mark">MOCKSTARKET</div>
			</section>
			<section id="top-bar--container">
				<div class="current-view">Dashboard</div>
			</section>
			<section id="main-content--container" class="">
				
			</section>
			<section id="chat-module--container" class="closed">
				<div class="chat-title-bar">
					<span>All Chat</span>
					<button></button>
				</div>

				<!-- 
					Make Chat resizable
					Make user's own messages show differently 
				-->
				<ul class="chat-message--list">
					<!-- <li>
						<div class="msg-username">Matty Ice <span class="msg-timestamp">11:30am</span></div>
						<div class="msg-text">Hi bb gurl. @Lisa</div>
					</li>
					<li>
						<div class="msg-username">Lisa <span class="msg-timestamp">11:47am</span></div>
						<div class="msg-text">Matt I told you not to talk dirty to me in this chat. Save it for the DM's when they are finally implemented.</div>
					</li>
					<li>
						<div class="msg-username">Matty Ice <span class="msg-timestamp">11:48am</span></div>
						<div class="msg-text">Ohh srry bb. I nvr meant to hurt u 💖</div>
					</li>
					<li>
						<div class="msg-username">Andys Woody <span class="msg-timestamp">11:52am</span></div>
						<div class="msg-text">Lisa, would you like to model for a new Rustangelo painting I'm working on?</div>
					</li>
					<li>
						<div class="msg-username">Lisa <span class="msg-timestamp">11:54am</span></div>
						<div class="msg-text">Absolutely! want me to come over to your place? xD</div>
					</li> -->
				</ul>
				<textarea id="chat-text-input" placeholder="Say anything..."></textarea>
			</section>
		</div>
	</body>
	
</html>