<!DOCTYPE html>
<html>
	<head>

		<title>MockStarket</title>
		
		<meta charset="utf-8">
		<meta name="description" content="A mock stock market">
		<meta name="keywords" content="mockstarket">
		<link rel="author" href="Brennan Sieck, Will Gowell, Jakob Elias" />
		
		<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
        <link href="https://fonts.googleapis.com/css?family=Mukta+Vaani:300,400,500,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:100,300,400,500" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      rel="stylesheet">

        <link rel="stylesheet" href="css/main.css">

        <link rel="icon" type="image/png" href="assets/favicon_green.png">

        <script src="scripts/utils.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
		<script src="https://d3js.org/d3.v5.min.js"></script>
		<script src="https://d3js.org/d3-path.v1.min.js"></script>
		<script src="https://d3js.org/d3-shape.v1.min.js"></script>
		<script src="https://d3js.org/d3-time.v1.min.js"></script>
		<script src="https://d3js.org/d3-time-format.v2.min.js"></script>

		<script src="scripts/websocket.js"></script>
		<script src="scripts/config.js"></script>
		<script src="scripts/index.js"></script>
		<script src="scripts/topbar.js"></script>
		<script src="scripts/sidebar.js"></script>
		<script src="scripts/chat.js"></script>
        <script src="scripts/notifications.js"></script>
		<script src="scripts/dashboard.js"></script>
		<script src="scripts/stocks.js"></script>
		<script src="scripts/investors.js"></script>
		<script src="scripts/store.js"></script>
		<script src="scripts/items.js"></script>
		<script src="scripts/modal.js"></script>
        <script src="scripts/graphing.js"></script>

    </head>

	<body>

		<div class="app--container" id="app--container">
			
			<section id="modal--container">
				<div class="modal-card" v-if="showModal">
					<button v-on:click="closeModal()"><i class="material-icons">close</i></button>
					<div id="trade--view">
						<div class="modal-stock-id">{{ stock.ticker_id }} </div>
						<div>Current cash: ${{ toPrice(user.wallet) }}</div>						
						<div class="flex-grid--container no-padding">
							<div class="flex-column-50">
								<div id="calc-btn-buy" class="card calc-btn fill green no-buffer-top" v-on:click="setIsBuying(true)">BUY</div>
							</div>
							<div class="flex-column-50">
								<div id="calc-btn-sell" class="card calc-btn red no-buffer-top" v-on:click="setIsBuying(false)">SELL</div>
							</div>
							<div class="flex-column-50">
								<div class="card calc-btn" v-on:click="addAmount(1)">1</div>
							</div>
							<div class="flex-column-50">
								<div class="card calc-btn" v-on:click="addAmount(5)">5</div>
							</div>
							<div class="flex-column-50">
								<div class="card calc-btn" v-on:click="addAmount(25)">25</div>
							</div>
							<div class="flex-column-50">
								<div class="card calc-btn" v-on:click="addAmount(100)">100</div>
							</div>
							<div class="flex-column-50">
								<div class="card calc-btn" v-on:click="addAmount(0)">CUSTOM</div>
							</div>
							<div class="flex-column-50">
							  <div class="card calc-btn" v-on:click="determineMax()">MAX</div>
							</div>
							<div class="flex-column-100">
								<div class="card calc-btn clear" v-on:click="clearAmount()" data-val="0">CLEAR</div>
							</div>
							<div class="flex-column-100" style="padding: 0 15px;">
								<table class="table">
									<thead>

										<tr>
											<th>Price</th>
											<th>Amount</th>
											<th>Total</th>	
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class='modal-stock-price'>${{ toPrice(stock.current_price) }}</td>
											<td>{{ buySellAmount }}</td>
											<td>${{ toPrice(buySellAmount * stock.current_price) }}</td>
										</tr>
									</tbody>
								</table>
							</div>
							
							<div class="flex-column-100">
								<div id="trade-request-submit" class="card calc-btn green no-buffer-top" v-on:click="submitTrade()">CONFIRM</div>
							</div>
							
					</div>
				</div>
			</section>

			<section id="transfer-Modal--container">
				<div class="modal-card" v-if="showModal">
					<button v-on:click="closeModal()"><i class="material-icons">close</i></button>
					<div id="trade--view">
						<div class="modal-name">Cash Transfer</div>
											
						<div class="flex-grid--container no-padding">
							
							
							<div class="flex-column-100">
								<div class="input-group">
									<div class="generic-input-name">SEND</div>
									<input type="text" id="cash-transfer-amount" class="" name="cash-transfer-amount" placeholder="Amount ($)">
									<span class="input-focus-border"></span>
								</div>
								
							</div>
							<div class="flex-column-100">
									<div class="input-group buffer-bot">
										<div class="generic-input-name">TO</div>
										<input type="text" id="cash-transfer-target" class="" name="cash-transfer-target" placeholder="Name">
										<span class="input-focus-border"></span>
									</div>
								
							</div>
							
							<div class="flex-column-50">
								<div id="send-cash-cancel" class="card calc-btn red no-buffer-top" v-on:click="closeModal()">CANCEL</div>
							</div>
							<div class="flex-column-50">
								<div id="send-cash-submit" class="card calc-btn green no-buffer-top" v-on:click="submitTransfer()">CONFIRM</div>
							</div>
							
							
						</div>
					</div>
				</div>
			</section>

			<section id="generic-text-field-modal--container">
				<div class="modal-card" v-if="showModal">
					<button v-on:click="closeModal()"><i class="material-icons">close</i></button>
					<div id="trade--view">
						<div class="modal-name">Are you sure?</div>
						<div class="flex-grid--container no-padding">
					
							<div class="flex-column-50">
								<div id="send-cash-cancel" class="card calc-btn red no-buffer-top" v-on:click="closeModal()">CANCEL</div>
							</div>
							<div class="flex-column-50">
								<div id="send-cash-submit" class="card calc-btn green no-buffer-top">CONFIRM</div>
							</div>
							
						</div>					
							
					</div>
				</div>
			</section>
			
			<section id="side-menu--container">
				<div class="logo-mark">MOCKSTARKET</div>
				<!-- <div id="user-info-container" class="timer-container">
					<div class="level-circle">1</div>
					<p v-if="getCurrentUser(users)">{{ getCurrentUser(users) }}</p>
				</div> -->
				<div id="stats--view">
					<div class="stat-value blue"><i class="material-icons menu-icon">business</i>${{ toPrice(currUserPortfolio.net_worth) }}</div>
					<div class="stat-value green"><i class="material-icons menu-icon">local_atm</i>${{ toPrice(currUserPortfolio.wallet) }}</div>
					<div class="stat-value orange"><i class="material-icons menu-icon">trending_up</i>${{ toPrice(currUserPortfolio.investments) }}</div>
				</div>
				<ul id="nav">
					<li>
						<button v-on:click="nav" data-route="dashboard">
							<i class="material-icons menu-icon">business</i>
							<div class="menu-item-title">Dashboard</div>
							<i class="material-icons right-arrow">keyboard_arrow_right</i>
						</button>
					</li>
					
					<li>
						<button v-on:click="nav" data-route="stocks">
							<i class="material-icons menu-icon">trending_up</i>
							<div class="menu-item-title">Stocks</div>
							<i class="material-icons right-arrow">keyboard_arrow_right</i>
						</button>
					</li>
					<li>
						<button v-on:click="nav" data-route="investors">
							<i class="material-icons menu-icon">account_box</i>
							<div class="menu-item-title">Investors</div>
							<i class="material-icons right-arrow">keyboard_arrow_right</i>
						</button>
					</li>
					<li>
						<button v-on:click="nav" data-route="perks">
							<i class="material-icons menu-icon">local_atm</i>
							<div class="menu-item-title">Store</div>
							<i class="material-icons right-arrow">keyboard_arrow_right</i>
						</button>
					</li>
					<!-- <li>
						<button v-on:click="nav" data-route="futures">
							<i class="material-icons menu-icon">swap_horiz</i>
							<div class="menu-item-title">Futures</div>
							<i class="material-icons right-arrow">keyboard_arrow_right</i>
						</button>
					</li>
					
					<li>
						<button v-on:click="nav" data-route="business">
							<i class="material-icons menu-icon">store_mall_directory</i>
							<div class="menu-item-title">Business</div>
							<i class="material-icons right-arrow">keyboard_arrow_right</i>
						</button>
					</li>
					<li>
						<button class="debug-btn red" v-on:click="nav">
							<i class="material-icons menu-icon">build</i>
							<div class="menu-item-title">Debug</div>
							<i class="material-icons right-arrow">keyboard_arrow_right</i>
						</button>
					</li> -->
				</ul>
			</section>

			<section id="top-bar--container">
				<div class="current-view" id="current-view">Dashboard</div>
				<div class="account-settings-btn">
						<span></span>
						<span></span>
						<span></span>	
					</div>

				<div id="user-info-container" class="nav-list">
					<div class="username-text">{{ userDisplayName + " " + userLevel }}</div>
					
					
				
				</div>
				
				
				<div class="account-settings-menu--container">
					<i id="account-settings-menu-close-btn" class="material-icons">close</i>
					<ul>
						<li>
							<textarea id="newDisplayName"></textarea>
						</li>
						<li>
							<button id="changeDisplayName" v-on:click="changeDisplayName">Change Display Name</button>
						</li>
						<li>
							<button id="btn-logout" v-on:click="logout">Logout</button>
						</li>
					</ul>
				</div>
			</section>

			<section id="main-content--container" class="">
				<div class="view-container">
					<div id="dashboard--view" class="active view">
						<div class="flex-grid--container">
							<div class="flex-column-33">
								<div class="card small">
									<div class="stat-value blue">
										<i class="material-icons menu-icon">business</i>
										<div class="card-details">
											<div class="card-category">NETWORTH</div>
											<p><span class="small-money">$</span>{{ toPrice(currUserPortfolio.net_worth) }}</p>
										</div>
									</div>
								</div>
							</div>
							<div class="flex-column-33">
								<div class="card small">
									<div class="stat-value green">
										<i class="material-icons menu-icon">local_atm</i>
										<div class="card-details">
											<div class="card-category">CASH</div>
											<p><span class="small-money">$</span>{{ toPrice(currUserPortfolio.wallet) }}</p>
										</div>
									</div>
								</div>
							</div>
							<div class="flex-column-33">
								<div class="card small">
									<div class="stat-value orange">
										<i class="material-icons menu-icon">trending_up</i>
										<div class="card-details">
											<div class="card-category">INVESTMENTS</div>
											<p><span class="small-money">$</span>{{ toPrice(currUserPortfolio.investments) }}</p>
										</div>
									</div>
								</div>
							</div>
							<div class="flex-column-100">
								<div class="item-category buffer-top">MY STOCKS</div>
							</div>
							<div class="flex-column-100">
								<div class="card stock-list">
									<table class="table" id="owned-stocks">
										<thead>
									    	<tr>
										    	<th scope="col" style="text-align: left; padding-left: 25px;" v-on:click="sortCol('stock_ticker')">Stock <i class="material-icons stock">arrow_drop_down</i></th>
										    	<th scope="col" style="padding-right: 25px;" v-on:click="sortCol('amount')">Amount Owned <i class="material-icons stock">arrow_drop_down</i></th>
										    	<th scope="col" style="padding-right: 25px;" v-on:click="sortCol('stock_price')">Current Price <i class="material-icons stock">arrow_drop_down</i></th>
										    	<th scope="col" style="padding-right: 25px;" v-on:click="sortCol('stock_value')">Value <i class="material-icons stock">arrow_drop_down</i></th>
										    	<th scope="col" style="padding-right: 25px;" v-on:click="sortCol('stock_roi')" >R.O.I. <i class="material-icons stock">arrow_drop_down</i></th>
										    </tr>
										</thead>
										<tbody>
											<tr class="clickable" v-for="stock in currUserStocks" :key='stock.uuid' v-bind:uuid="stock.uuid">
												<th class="stock-ticker-id" scope="row" v-bind:tid="stock.stock_ticker" style="line-height: 40px;">{{ stock.stock_ticker }}</th>
												<td class="stock-price" style="text-align: right; padding-right: 25px;">{{ stock.amount }}</td>
												<td class="price-alter stock-price" style="text-align: right; padding-right: 25px;">${{ toPrice(stock.stock_price) }}</td>
												<td class="price-alter stock-price" style="text-align: right; padding-right: 25px;">${{ toPrice(stock.stock_value) }}</td>
												<td class="stock-change" style="text-align: right; padding-right: 25px;">${{ toPrice(stock.stock_roi) }}</td>
												
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="flex-column-100">
								<div class="item-category buffer-top">MY ITEMS</div>
							</div>
							<div class="flex-column-100">
								<!-- Brennan, might want to make these cards -->
								<div class="card item-list">
									<table class="table" id="owned-items">
										<thead>
									    	<tr>
										    	<th scope="col" style="text-align: left; padding-left: 25px;">Item </th>
										    	<th scope="col" style="text-align: left; padding-left: 25px;">Status</th>
										    	<th scope="col" style="text-align: left; padding-left: 25px;">Use</th>
										    </tr>
										</thead>
										<tbody>
											<tr class="clickable" v-for="item in userItems" :key='item.uuid'>
												<td>{{ item.Type }}</td>
												<td>{{ item.used_status }}</td>
												<td v-on:click="useItem(item.uuid)">Use</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="flex-column-100" id="insider-area">
								<!-- Brennan, might want to make these cards -->
								<div class="card insider-list">
									<table class="table">
										<thead>
									    	<tr>
										    	<th scope="col" style="text-align: left;">Item </th>
										    	<th style="text-align: left;">Current Price</th>
										    	<th style="text-align: left;">Target Price</th>
										    </tr>
										</thead>
										<tbody>
											<tr class="clickable" v-for="stock in insiderStocks" :key='stock.name'>
												<td>{{ stock.name }}</td>
												<td>{{ toPrice(stock.current_price) }}</td>
												<td>{{ toPrice(stock.target_price) }}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>

							<div class="flex-column-100">
								<div class="portfolio-history">
									<button id="portfolio-history-btn" v-on:click="createPortfolioGraph()">Log cash/networth history</button>
								</div>
								<div id="portfolio-graph"></div>
							</div>
						</div>
					</div>
					<div id="business--view" class="view">
						<div class="flex-grid--container">
							<div class="flex-column-100">
								<div class="card">
									<h1>BUSINESS</h1>
								</div>
							</div>
						</div>
					</div>
					<div id="stocks--view" class="view">
						<div class="flex-grid--container" id="stockSuperlatives">
							<div class="flex-column-33">
								<div class="card small">
									<div class="stat-value blue">
										<i class="material-icons menu-icon">business</i>
										<div class="card-details">
											<div class="card-category">MOST EXPENSIVE</div>
											<p>{{ highestStock }}</p>
										</div>
									</div>
								</div>
							</div>
							<div class="flex-column-33">
								<div class="card small" v-on:click="createStocksGraph()">
									<div class="stat-value green">
										<i class="material-icons menu-icon">local_atm</i><div class="card-details">
											<div class="card-category">HIGHEST GROWTH</div>
											<p>{{ mostChange }}</p>
										</div>
									</div>
								</div>
							</div>
							<div class="flex-column-33">
								<div class="card small">
									<div class="stat-value orange">
										<i class="material-icons menu-icon">trending_up</i><div class="card-details">
											<div class="card-category">LEAST EXPENSIVE</div>
											<p>{{ lowestStock }}</p>
										</div>
									</div>
								</div>
							</div>
							<div class="flex-column-100">
								<div class="card stock-list">
									<div id="stock-list">
										<table class="table">
										  <thead>
											<tr>
												<!-- <th scope="col" v-on:click="sortCol('favorite')" style="text-align: left; padding-left: 25px;"><i class="material-icons star">star</i> <i class="material-icons stock">arrow_drop_down</i></th>	 -->
											  <th scope="col" v-on:click="sortCol('ticker_id')" style="text-align: left; padding-left: 25px;">Stock <i class="material-icons stock">arrow_drop_down</i></th>
											  <th scope="col" v-on:click="sortCol('open_shares')">Actions</th>
											  <th scope="col" v-on:click="sortCol('open_shares')">Open Shares <i class="material-icons open-shares">arrow_drop_down</i></th>
											  <th scope="col" v-on:click="sortCol('change')">Change <i class="material-icons change">arrow_drop_down</i></th>
											  <th scope="col" v-on:click="sortCol('current_price')" style="padding-right: 25px;">Cost <i class="material-icons cost">arrow_drop_down</i></th>
											</tr>
										  </thead>
										  <tbody>
											  <!-- https://vuejs.org/v2/guide/list.html :key is recommended in v.fors -->
											<tr class="clickable" v-for="stock in sortedStocks" :key='stock.uuid' v-bind:uuid="stock.uuid">
												<!-- <td class="stock-open-shares favorite"><i class="material-icons star unfilled" >star</i></td> -->
												<th class="stock-ticker-id" scope="row" v-bind:tid="stock.ticker_id">
													<div class="stock-ticker-id">{{ stock.ticker_id }}</div>
													<div class="stock-display-name">{{ stock.name }}</div>
											  </th>
											  <td class="stock-open-shares">
													<ul class="action-list">
													<li class="action-btn star">
														  <i class="material-icons">
																  star_rate
																  </i>
													</li>
													
													<li class="action-btn chart">
														  <i class="material-icons">
																  show_chart
																  </i>
													</li>
											  </ul>
											  </td>
											  <td class="stock-open-shares">{{ stock.open_shares }}</td>
											  <td class="stock-change">
												  {{ toPrice(stock.change) }}
												  <i class="material-icons">arrow_drop_down</i>
											  </td>
											  <td class="stock-price" style="padding-right: 25px;">
											  ${{ toPrice(stock.current_price) }}</td>
											</tr>
										  </tbody>
										</table>
									</div>
								</div>
							</div>
							<div class="flex-column-100">
								<div id="stock-graph"></div>
							</div>
						</div>
					</div>
					<!-- TODO: this tab collides with the sidebar -->
					<div id="investors--view" class="view">
						<div class="flex-grid--container">
							
							<div class="flex-column-100">
								<div class="card stock-list">
									<div id="portfolio-list">
										<table class="table">
										  <thead>
											<tr>
											  <th scope="col" v-on:click="sortCol('name')" style="text-align: left; padding-left: 25px;">Name <i class="material-icons stock">arrow_drop_down</i></th>
											  <th scope="col" v-on:click="sortCol('level')">Level <i class="material-icons open-shares">arrow_drop_down</i></th>
											  <th scope="col">Actions</th>
											  <th scope="col" v-on:click="sortCol('net_worth')">Cash <i class="material-icons cost">arrow_drop_down</i></th>
											  <th scope="col" v-on:click="sortCol('wallet')">Networth <i class="material-icons open-shares">arrow_drop_down</i></th>
											  
											  
											</tr>
										  </thead>
										  <tbody>
											  
											<tr class="investors" v-for="investor in investors" :key="investor.uuid" v-bind:tid="investor.uuid">
											  <th class="stock-ticker-id" scope="row" v-bind:tid="investor.name">
												  <div class="stock-ticker-id">{{ investor.name }}</div>
											  </th>
											  <td>{{ investor.level }}</td>
											  <td class="stock-open-shares">
												  <ul class="action-list">
													  <li class="action-btn star" v-on:click="toggleFavorite(investor.uuid)">
															<i class="material-icons">
																	star_rate
																	</i>
													  </li>
													  <li class="action-btn" v-on:click="openTransferModal(investor)">
															<i class="material-icons money-transfer-btn">
																	monetization_on
																	</i>
													  </li>
													  <li class="action-btn chart">
															<i class="material-icons">
																	show_chart
																	</i>
													  </li>
												</ul>
												
												<!-- <div class="money-transfer-btn">SEND CASH</div> -->
												</td>
											  <td v-if="favoriteInvestor(investor.uuid)">MY FAV</td>
											  <td class="stock-price" style="padding-right: 25px;">
											  ${{ toPrice(investor.net_worth) }}</td>
											  <td class="stock-open-shares" style="padding-right: 25px;">${{ toPrice(investor.wallet) }}</td>
											  
											  
											</tr>
										  </tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- TODO: this tab collides with the sidebar -->
					<div id="futures--view" class="view">
						<div class="flex-grid--container">
							<div class="flex-column-100">
								<div class="card">
									<h1>FUTURES</h1>
								</div>
							</div>
						</div>
					</div>
					<!-- TODO: this tab collides with the sidebar -->
					<div id="store--view" class="view">
						
						<div class="flex-grid--container">
							<div class="flex-column-100">
								<div class="item-category buffer-top">EXPERIENCE</div>
							</div>
							<div class="flex-column-100">
								<ul id="item-list">
									<li>
										<div class="card item">
											<div class="item-name">LEVEL 1</div>
											<div class="item-effects title">"Intern"</div>
											<div class="item-divider"></div>
											<div class="item-effects">+2% bonus stock value</div>
											<div class="item-divider"></div>
											<div class="item-effects">unlock cash transfer</div>
											<div class="item-cost">$10,000</div>
											<div class="buy-item-btn" v-on:click="level_up()">BUY</div>
										</div>
									</li>
									<li>
											<div class="card item">
													<div class="item-name">LEVEL 2</div>
													<div class="item-effects title">"Weekend Trader"</div>
													<div class="item-divider"></div>
													<div class="item-effects">+4% bonus stock value</div>
													
													<div class="item-cost">$250,000</div>
													<div class="buy-item-btn">BUY</div>
												</div>
									</li>
									<li>
											<div class="card item">
													<div class="item-name">LEVEL 3</div>
													<div class="item-effects title">"Day Trader"</div>
													<div class="item-divider"></div>
													<div class="item-effects">+7% bonus stock value</div>
													
													<div class="item-cost">$500,000</div>
													<div class="buy-item-btn">BUY</div>
												</div>
									</li>
									<li>
											<div class="card item">
													<div class="item-name">LEVEL 4</div>
													<div class="item-effects title">"Regional Manager"</div>
													<div class="item-divider"></div>
													<div class="item-effects">+10% bonus stock value</div>
													<div class="item-cost">$1,000,000</div>
													<div class="buy-item-btn">BUY</div>
												</div>
									</li>
									<li>
											<div class="card item">
													<div class="item-name">LEVEL 5</div>
													<div class="item-effects title">"Vice President"</div>
													<div class="item-divider"></div>
													<div class="item-effects">+12% bonus stock value</div>
													<div class="item-cost">$1,500,000</div>
													<div class="buy-item-btn">BUY</div>
												</div>
										</li>
										<li>
												<div class="card item">
														<div class="item-name">LEVEL 6</div>
														<div class="item-effects title">"CFO"</div>
														<div class="item-divider"></div>
														<div class="item-effects">+14% bonus stock value</div>
														<div class="item-cost">$2,500,000</div>
														<div class="buy-item-btn">BUY</div>
													</div>
										</li>
										<li>
												<div class="card item">
														<div class="item-name">LEVEL 7</div>
														<div class="item-effects title">"Chairman"</div>
														<div class="item-divider"></div>
														<div class="item-effects">+17% bonus stock value</div>
														
														<div class="item-cost">$5,000,000</div>
														<div class="buy-item-btn">BUY</div>
													</div>
										</li>
										<li>
												<div class="card item">
														<div class="item-name">LEVEL 8</div>
														<div class="item-effects title">"American Sniper"</div>
														<div class="item-divider"></div>
														<div class="item-effects">+20% bonus stock value</div>
														<div class="item-cost">$10,000,000</div>
														<div class="buy-item-btn">BUY</div>
													</div>
										</li>
								</ul>
								
							</div>
							
							
							<div class="flex-column-100">
								<div class="item-category buffer-top">ABILITIES</div>
							</div>
							<ul id="item-list">
								<li>
									<div class="card item">
										<div class="item-name">INSIDER TRADING</div>
										<div class="item-description">Allows player to see the target price of all stocks.</div>
									
	
										<div class="item-cost">$175,000</div>
										<div class="buy-item-btn" v-on:click="purchaseItem()">BUY</div>
									</div>
								</li>
								<li>
									<div class="card item">
										<div class="item-name">BLOCK TRADING</div>
										<div class="item-description">Stops another player from buying or selling stocks for 5 minutes.</div>
									
	
										<div class="item-cost">$25,000</div>
										<div class="buy-item-btn">BUY</div>
									</div>
								</li>
								<li>
									<div class="card item">
										<div class="item-name">BOOST GAINS</div>
										<div class="item-description">25% higher returns on stock sales for 1 hour.</div>
									
	
										<div class="item-cost">$75,000</div>
										<div class="buy-item-btn">BUY</div>
									</div>
								</li>
								<li>
									<div class="card item">
										<div class="item-name">CRASH THE MARKET</div>
										<div class="item-description">Resets the target prices of all stocks.</div>
										<div class="item-cost">$900,000</div>
										<div class="buy-item-btn">BUY</div>
									</div>
								</li>
							</ul>
							
						</div>
					</div>
				</div>
			</section>
			<section id="chat-module--container" class="closed">
				<div class="chat-title-bar" v-bind:title="activeUsers()">
					<span>All Chat <i class="material-icons">group</i> {{ numActiveUsers }}</span>
					<button v-on:click="toggleChat()"></button>
				</div>

				<!-- 
					Make Chat resizable
					Make user's own messages show differently 
				-->
				<ul class="chat-message--list">
					
				</ul>
				<textarea id="chat-text-input" placeholder="Say anything..."></textarea>
			</section>

			<section id="notification-module--container">
				<div class="notification-title-bar">
					<span></span>
					<i class="material-icons">
done
</i>
				</div>
			</section>

			<section id="debug-module--container" class="closed">
				<div class="debug-title-bar">
					<span>Server Log</span>
					<button></button>
				</div>

				<!-- 
					Make Chat resizable
					Make user's own messages show differently 
				-->
				<ul class="debug-message--list">
					
				</ul>
				
			</section>
		</div>
	</body>
	
</html>